<h1>Dish</h1>

<% @restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, restaurant %></h3>
  <p><%= restaurant.city %></p>
<% end %>

<%= link_to 'Add new restaurant', new_restaurant_path %>